<div class="container">
  <div class="site-wrapper-inner">
    <div class="class-container">
      <div class="mastfoot">
        <div class="inner">
            <p>Copyright &copy; 2017 Trekmate </p>
        </div>
      </div>
    </div>
  </div>
</div>
