<!--TRIP DASH BOARD-->
    <!-- Add Trip Modal -->
    <div id="addTripModal" class="modal">
        <div class="modal-content">
            <h4>Add A Trip</h4>
            <input placeholder="Trip Name (Ex: Austin)" id="name" type="text" class="validate">
            <input placeholder="City (Ex: Austin)" id="trip-city" type="text" class="validate">
            <input placeholder="State (Ex: TX)" id="trip-state" type="text" class="validate" maxlength="2">
            <input placeholder="Day Leaving (Ex: March 11)" id="trip-leaving" type="date" class="datepicker">
            <input placeholder="Day Returning (Ex: March 15)" id="trip-returning" type="date" class="datepicker">
        </div>
        <div class="modal-footer">
            <a id="set-location" href="#!" class="modal-action waves-effect waves-green btn">Go</a>
        </div>
    </div>
    <!-- End of Add Trip Modal -->

    <!-- Remove Trip Modal -->
    <div id="removeTripModal" class="modal">
      <div class="modal-content">
        <h4>Delete A Trip</h4>
        <div id="deleteTrips">You don't have any trips to delete.</div>
      </div>
    </div> 
    <!-- End of Remove Trip Modal --> 

    <!-- Destination page -->
    <div id="user-trips" class="container content hide">
        <div class="row valign-wrapper">
            <div class="col s4 offset-s4 valign">
                <div class="card darken-1">
                    <div class="card-content">
                        <span id="trips-title" class="card-title">Pick A Trip</span>
                        <p id="trip-list"></p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn valign" href="#addTripModal" id="add-trip-link">Add A Trip</a>
                        <br>
                        <a class="waves-effect waves-light btn valign" href="#removeTripModal" id="deleteATrip">Delete A Trip</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Destination page -->    
<!-- END OF TRIP DASH BOARD -->

<!-- DASH BOARD -->
    <div id="dashboard" class="container content hide">
        <!-- Destination and Weather-->
        <div class="row">
            <div class="col s4">
                <span id="city-name"></span>
                <span id="trip-timeframe"></span>
            </div>
            <div class="col s4"></div>
            <div class="col s4">
                <div class="card" id="wCard">
                    <div class="card-image"></div>
                    <div class="card-content">
                      <div id="weather"></div>
                    </div>
                    <div class="card-action">
                        <p class="weather-forecast"><a id="forecast-link" href="#" target="_blank">5-Day Forecast</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of Destination and Weather-->
