<div class="vidbg">
  <div class="promo">
    <video autoplay="autoplay" loop>
      <source src="../img/frontPage_6.mp4" type="video/mp4">
    </video>
  </div>
</div>

<div class="vidnavbar">
  <div class="site-wrapper-inner">
    <div class="class-container">
      <div class="masthead clearfix">
        <div class="inner">
          <img class="masthead-brand" id="logo" src="/img/logo.png" alt="logo">
          <nav class="david">
            <ul class="nav masthead-nav">
              {{#if user }}
              <li class="active">
                  <button type="button" class="btn btn-primary" onclick="location.href = '/dashboard';" >
                    Your Trips
                  </button>
              </li>
              <li class="active">
                  <button type="button" class="btn btn-primary" onclick="location.href = '/logout';" >
                    Log Out
                  </button>
              </li>
              {{else}}
                <li class="active">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal">
                      Sign in
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">
                      Sign Up
                    </button>
                </li>
                <li>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aboutModal">
                    About
                  </button>
                </li>
                {{/if}}
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{{> page/signIn }}
{{> page/signUpForm }}
{{> page/about }}
