
<!-- Add Flight Modal -->
<div id="addFlightModal" class="modal">
    <form action="/api/flight" method="POST">
        <div class="modal-content">
            <h4>Add A Flight</h4>
            <input placeholder="Flight Date" name="flight_date" class="datepicker" type="date">
            <input placeholder="Flight Number" name="flight_number" type="text">
            <input name="TripUuid" value="{{trip.uuid}}" type="hidden">
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action waves-effect waves-green btn" id="addFlightBtn">Submit</button>
        </div>
    </form>
</div>