<style>
    #flightbox {
        color: #333333;
    }
</style>

<div id="flightbox">
    <div id="carousel">
        <ul>
            <li>Status &nbsp;{{flightStatus.flightStatuses.[0].status}}</li>
            <li>Departure Airport &nbsp;{{flightStatus.flightStatuses.[0].departureAirportFsCode}}</li>
            <li>Arrival Airport &nbsp;{{flightStatus.flightStatuses.[0].arrivalAirportFsCode}}</li>
        </ul>
    </div>
</div>

